*filter
:CHECK - [0:0]
-A CHECK -j ACCEPT
:INPUT ACCEPT [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i {{public_network_interface}} -p tcp -m tcp --dport 22 -j ACCEPT
-A INPUT -i {{public_network_interface}} -p tcp -m tcp --dport 80 -j CHECK
-A INPUT -i {{public_network_interface}} -p tcp -m tcp --dport 443 -j ACCEPT
-A INPUT -i {{public_network_interface}} -p udp -m udp --sport 123 -j ACCEPT
-A INPUT -j DROP
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A OUTPUT -p udp -m udp --dport 123 -j ACCEPT
COMMIT
